{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

 

   
{% block body %}
<style>
body {
    background: #eee
}

.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}

   </style>
    <h1>Vous ete connecté en tant que {{ app.user.name }}</h1>
   

   
        {% for annonce in annonces %}
        <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{annonce.image}}"></div>
                <div class="col-md-6 mt-1">
                    <h5>{{annonce.titre}}</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                    </div>
                  <div class="mt-1 mb-1 spec-1"><span>{{annonce.marque}}</span></div>
                    <p class="text-justify text-truncate para mb-0">{{annonce.description}}.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">GNF{{annonce.price}}</h4>
                    </div>
                    <h6 class="text-success">une bonne affaire</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">   <a href="{{ path('annonces_show', {'id': annonce.id}) }}">Detail du vendeur</a></button><button class="btn btn-outline btn-danger btn-sm mt-2" type="button">avis sur le vendeur</button></div>
                       
                    
                </div>
            </div>
         
             
                       
          
        </div>
    </div>
</div>
   
        
     
          <table>
          <tbody>    
        {% else %}
            <tr>
                <td colspan="12">Vous n'avez pas encore d'annonce</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <div class="container"> 
                   
                   {{ knp_pagination_render(annonces) }}
                   </div>              
                   
{% endblock %}
